{% extends "::base.html.twig" %}

{% block title %}MSIFournisseurBundle:Commande:edit{% endblock %}

{% block body %}
<div style="padding-left: 10%; padding-top: 5%">
  <h1>Formulaire de modification de date de livraison</h1>
  <div class="well col-md-6" >
    {{ form(form) }}
  </div>
</div>
{% endblock %}
