{% extends "::base.html.twig" %}

{% block title %}MSIFournisseurBundle:Commande:load{% endblock %}

{% block body %}
<h1>Welcome to the Commande:load page</h1>
Répertoire : {{ dir }}



{% endblock %}
